<a href="https://colab.research.google.com/github/jserrataylor/cursoAI/blob/main/Ejercicio_3_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejercicios #3: Evaluación sobre DataFrames con Pandas

## Nombre Completo:
## Número de Estudiante:

## Instrucciones Generales

Completa los siguientes ejercicios utilizando las habilidades adquiridas durante las lecciones de Pandas.
El mismo te permitirá aplicar una variedad de métodos y técnicas utilizando biblioteca de pandas. Asegúrate de leer cada pregunta cuidadosamente y realizar la tarea que se te pide. Cada ejercicio tiene un valor de diez (10) puntos.

Para realizar el ejercicio debes subir el archivo (datos_examenes.csv) al Google Colab para que puedas trabajar con el mismo.

Este cuaderno (libreta) debes enviarlo de manera compartida (share) al profesor con su nombre: pandas_ejercicios_Nombre.ipynb

Si tienes dudas de como compartir este cuaderno, no dudes en preguntar.

La fecha límite para entregar el mismo es el 10 de octubre. Si necesitas más tiempo, debes comunicarte con el profesor para dialogar al respecto.

¡Exito!

## Ejercicio 1: Lectura de Archivos

#### Leer un archivo CSV, crea un DataFrame y muestra las primeras 5 filas del DataFrame.

In [ ]:
# Tu código para importar la librería requerida de pandas

In [ ]:
# Tu código aquí

#### Con el mismo DataFrame muestra las últimas 5 filas.

In [ ]:
# Tu código aquí

#### Con el mismo DataFrame muestra la cantidad de registros (filas) y columnas

In [ ]:
# Tu código aquí

#### Ordenar datos por indice en el mismo DataFrame

In [ ]:
# Tu código aquí

## Ejercicio 2: Escritura de Archivos

#### Guardar el DataFrame anterior en un nuevo archivo Excel.

In [ ]:
# Tu código aquí

#### Guardar el DataFrame anterior en un nuevo archivo CSV.

In [ ]:
# Tu código aquí

#### Guardar el DataFrame anterior en un nuevo archivo JSON.

In [ ]:
# Tu código aquí

## Ejercicio 3: Operaciones con DataFrames

#### Mostrar los datos estadísticos descriptivos de una columna numérica del DataFrame.

In [ ]:
# Tu código aquí

#### Calcular la media, mediana y desviación estándar de una columna numérica del DataFrame.

In [ ]:
# Tu código aquí

## Ejercicio 4: Manipulación de DataFrames

Cambiar el nombre de las columnas del DataFrame y mostrar las primeras 3 filas.

In [ ]:
# Tu código aquí

#### Crea una nueva columna que es el resultado de alguna operación aplicada a una o más columnas existentes (por ejemplo, la suma o resta de dos columnas).

In [ ]:
# Tu código aquí

## Ejercicio 5: Selección de Columnas

Seleccionar dos columnas específicas del DataFrame y mostrar las primeras 5 filas.

In [ ]:
# Tu código aquí

## Ejercicio 6: Selección de Filas

Seleccionar las filas del DataFrame que estén en las posiciones 10 a 15 y mostrarlas.

In [ ]:
# Tu código aquí

## Ejercicio 7: Ordenamiento de DataFrames

Ordenar el DataFrame basado en una columna de forma ascendente y mostrar las primeras 10 filas.

In [ ]:
# Tu código aquí

## Ejercicio 8: Visualización

Crea un gráfico simple para visualizar los resultados de una columna.

In [ ]:
# Tu código aquí

## Ejercicio 9: Concatenar DataFrames

#### Concatena estos dos (2) DataFrame,

In [ ]:
import pandas as pd

data_invierno = {
    'Ciudad': ['San Juan', 'Mayagüez', 'Ponce', 'Bayamón', 'Carolina', 'Arecibo', 'Guaynabo', 'Caguas', 'Aguadilla', 'Isabela', 'Dorado', 'Cayey', 'Vega Baja', 'Rincón', 'Guánica', 'Humacao', 'Manatí', 'Lajas', 'Yauco', 'Coamo'],
    'Temp_Invierno': [25, 24, 26, 25, 26, 23, 25, 24, 25, 24, 26, 23, 24, 25, 26, 24, 25, 27, 26, 25]  # Ejemplo de temperaturas
}

data_verano = {
    'Ciudad': ['San Juan', 'Mayagüez', 'Ponce', 'Bayamón', 'Carolina', 'Arecibo', 'Guaynabo', 'Caguas', 'Aguadilla', 'Isabela', 'Dorado', 'Cayey', 'Vega Baja', 'Rincón', 'Guánica', 'Humacao', 'Manatí', 'Lajas', 'Yauco', 'Coamo'],
    'Temp_Verano': [30, 31, 30, 31, 32, 30, 31, 30, 29, 30, 31, 29, 30, 31, 30, 32, 31, 30, 31, 30]  # Ejemplo de temperaturas
}

data_primavera = {
    'Ciudad': ['San Juan', 'Mayagüez', 'Ponce', 'Bayamón', 'Carolina', 'Arecibo', 'Guaynabo', 'Caguas', 'Aguadilla', 'Isabela', 'Dorado', 'Cayey', 'Vega Baja', 'Rincón', 'Guánica', 'Humacao', 'Manatí', 'Lajas', 'Yauco', 'Coamo'],
    'Temp_Primavera': [28, 29, 28, 27, 28, 28, 28, 27, 29, 28, 27, 28, 29, 28, 28, 27, 29, 28, 28, 29]  # Ejemplo de temperaturas
}
data_otono = {
    'Ciudad': ['San Juan', 'Mayagüez', 'Ponce', 'Bayamón', 'Carolina', 'Arecibo', 'Guaynabo', 'Caguas', 'Aguadilla', 'Isabela', 'Dorado', 'Cayey', 'Vega Baja', 'Rincón', 'Guánica', 'Humacao', 'Manatí', 'Lajas', 'Yauco', 'Coamo'],
    'Temp_Otono': [27, 26, 27, 26, 27, 27, 26, 26, 26, 27, 26, 27, 27, 27, 26, 26, 27, 27, 26, 26]  # Ejemplo de temperaturas
}

# Esto es para asegurarse de que todos los DataFrames tienen el mismo índice
df_invierno.set_index('Ciudad', inplace=True)
df_verano.set_index('Ciudad', inplace=True)
df_primavera.set_index('Ciudad', inplace=True)
df_otono.set_index('Ciudad', inplace=True)

#### Crea los DataFrame de los datos sobre ciudades y temperaturas

In [ ]:
# Tu código aquí

#### Une (concatena) los DataFrames en uno solo

In [ ]:
# Tu código aquí

#### Muestra la cantidad de registros y columnas, los datos descriptivos

In [ ]:
# Tu código aquí

#### Muestra los primeros cinco registros del DataFrame unido

In [ ]:
# Tu código aquí

#### Muestra los ultimos cinco registros del DataFrame unido

In [ ]:
# Tu código aquí